
.search-box{
    background-color: #eef2f5;
    border: none;
    }

.search-container{
    border-color: transparent;
    background-color: #f1f2f6;
}


 html{
    background-color: #f1f2f6 !important;
   
}     

body{
    background-color: transparent !important;

}

.br-10{
    border-radius: 10px;
}

.bg-white{
    background-color: #fff;
}

.br-20{
    border-radius: 20px;
}

.menu{
    color: gray;
}

.cursor-pointer{
    cursor: pointer;
}

.menu > div {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 25px;
}


.menu .active{
    color: blue;
    border-bottom: 2px solid blue;
}

.profile > div {
    padding-left: 25px;
    font-size: 20px;
    color: gray;
}

.username{
    font-weight: bold;
}

.profile > div > button > svg{
    font-size: 20px;
    border: transparent;
}

.content-left{
 padding: 15px;
}

.content-left-svg{
    color: blue;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 5px;
    
}

.content-l-menu{
    margin-top:40px
}

.status{
    position: relative;
    color: white;
    height: fit-content;
    width: fit-content;
}

.status{

}

.status-profile{
 position:relative;
 bottom: 8em;
 right: 11em;
 border: 3px solid #01aef1;
 border-radius: 30px;
}

.content-status{
    height: 350px;
}

.status > .name{
    position: relative;
    color: #fff;
    height: fit-content;
    width: fit-content;
    bottom: 3em;
    left: 1em;
}

.create-post{
    color: gray;
}

.create-post .search-box{

}